.grande {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1em;
}

.link-classico {
    color: blue;
    text-decoration: underline;
}

/* Impostazioni per la navigation bar ed i suoi item */
.w3-bar .w3-bar-item {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 60px;
}

.w3-bar-block .w3-bar-item {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 60px;
}

.search-container input[type=text] {
    padding: 15px;
    margin: 0;
    background: #dceef3;
    font-size: 17px;
    border: none;
    height: 60px;
    width: calc(100% - 60px);
}

.search-container button {
    float: right;
    padding: 5px;
    margin: 0;
    background: #8dc8d8;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button:hover {
    background: #72bbce;
}

/* Animazione slide-down del menù su schermo mobile */
.slide-down {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.slide-down.show {
    max-height: 200px; /* altezza massima menu */
}

/* Impostazioni per la sidebar delle categorie*/
/* Desktop: sidebar visibile e home-cont ristretto */
.home-cont {
    margin-left: 200px;
}

/* Tablet e mobile: sidebar nascosta e home-cont a tutto schermo */
@media screen and (max-width: 992px) {
    .home-cont {
        margin-left: 0;
    }
}

/* altezza della navbar */
:root { --nav-h: 93px; }

/* Sidebar fissa con scroll interno*/
#mySidebar.w3-sidebar {
    position: fixed;
    top: var(--nav-h) !important;
    left: 0;
    width: 200px;
    height: calc(100vh - var(--nav-h)) !important;
    overflow-y: auto !important;
    background: #FCD5CE;
    z-index: 1;
}

/* Impostazioni footer */
footer {
    position: relative;
    z-index: 10; /* più alto dello z-index della sidebar => il footer la sovrappone */
}

/* Impostazioni per le card */
.w3-row-padding {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Spazio tra le card */
}

.card-container { /* desktop - 3 card per riga considerando il gap*/
    flex: 0 0 calc(33% - 16px);
    max-width: calc(33% - 16px);
    display: flex;
}

@media (max-width: 992px) { /* tablet */
    .card-container {
        flex: 0 0 calc(33.33% - 16px);
        max-width: calc(33.33% - 16px); /* 3 card per riga */
    }
}

@media (max-width: 600px) { /* mobile */
    .card-container {
        flex: 0 0 100%;
        max-width: 100%; /* 1 card per riga */
    }
}

.card-equal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.user-card-container {
    flex: 0 0 calc(25% - 16px);
    max-width: calc(25% - 16px);
    display: flex;
}

@media (max-width: 992px) { /* tablet */
    .user-card-container {
        flex: 0 0 calc(50% - 16px);
        max-width: calc(50% - 16px); /* 3 card per riga */
    }
}

@media (max-width: 600px) { /* mobile */
    .user-card-container {
        flex: 0 0 100%;
        max-width: 100%; /* 1 card per riga */
    }
}

/* Impostazioni per le recensioni */
.star, .star-input {
    padding: 1px;
    font-size: 1.8rem;
    color: lightgray;
    position: relative;
    display: inline-block;
}

.star.full {
    color: gold;
}

.star.half {
    background: linear-gradient(90deg, gold 50%, lightgray 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: gold;
}

.star-input .star.selected, .star-input .star.hover {
    color: gold;
}

/* Dettaglio text area per i form */
textarea {
    width: 100%;
    resize: vertical;
}

/* Impostazioni per le immagine profilo piccole nelle card degli utenti */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Impostazioni per dividere i tags su più colonne nella pagina di registrazione */
#div_id_tags > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 8px 16px;
}

#div_id_tags .form-check,
#div_id_tags > div > div {
    margin: 0;
}
