{% extends "w3base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
{% endblock %}

{% block title %} {{ "Nuovo profilo utente" }} {% endblock %}

{% block content %}
    <h2>Crea il tuo profilo</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h4>I tuoi link</h4>

        {{ link_formset.management_form }}

        {% for form in link_formset %}
            <div class="link_form">
                {{ form.as_p }}
            </div>
        {% endfor %}

        <button type="submit">Salva</button>
    </form>
{% endblock %}
