{% extends "w3base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Nuovo evento{% endblock %}

{% block content %}
    <h1>Ciao {{ user.autore }}, aggiungi il tuo evento!</h1>
    <form method="post">
        {% csrf_token %}

        <fieldset style="margin-bottom: 1.5rem;">
            <p class="grande">
                {{ form.idlibro|as_crispy_field }}
                {{ form.date|as_crispy_field }}
                {{ form.descrizione|as_crispy_field }}
            </p>
        </fieldset>

        <fieldset style="margin-bottom: 1.5rem;">
            <p>
                {{ form.via|as_crispy_field }}
                {{ form.comune|as_crispy_field }}
            </p>
        </fieldset>

        <div class="w3-row-padding">
            <a href="{% url 'eventi_list' %}"
               class="btn-default w3-round-medium  w3-border w3-border-red"
               style="font-size:1.3em; padding:20px 30px; width: 140px; text-align: center;
               background: #FEC5BB; color:black">Annulla</a>

            <button type="submit" class="btn-default w3-round-medium  w3-border w3-border-blue-grey"
                    style="font-size:1.3em; padding:20px 30px; width: 140px; text-align: center;
                    background: #A7D5E1; color:black">Salva</button>
        </div>
    </form>
{% endblock %}
