{% extends "w3base.html" %}

{% block title %} {{ title }} {%  endblock %}

{% block content %}

    <!-- La home page mostra i libri presenti in db, divisi per categoria (tags) -->
    <div class="w3-container">
        {% for categoria in categorie %}
            <div class="w3-margin-top">
                <h2><a href="{% url 'libri_categoria_detail' categoria.id %}" class="w3-text-blue">
                        {{ categoria.nome }}</a></h2>
                <div class="w3-row-padding">
                    {% for libro in categoria.libri %}
                        <div class="card-container">
                            <!-- 4 card per riga su schermo l, 3 su schermo m e 1 su schermo s -->
                            {% include "bookcard.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if user.is_authenticated and "ok" in request.GET.login %}
        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title"><strong>Ciao {{ user.username }}</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="grande">Il login è andato a buon fine!</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $("#modal").modal('show');
            });
        </script>

    {% endif %}

{% endblock %}
