{% extends "w3base.html" %}

{% block title %} {{ title }} {%  endblock %}

{% block sidebar %}
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-large w3-padding w3-hide-small w3-hide-medium>"
         id="mySidebar"><br>

        <div class="w3-padding-16" style="text-align: left">
            <h3>Esplora le<br>categorie</h3>
        </div>
        <div class="w3-bar-block">
            {% for categoria in categorie %}
                <a href="{% url 'libri_categoria_detail' categoria.id %}"
                   class="w3-bar-item w3-button">{{ categoria.nome }}</a>
            {% endfor %}
        </div>
    </nav>
{% endblock %}

{% block homecontent %}
    <!-- La home page mostra i libri presenti in db, divisi per categoria (tags) -->
    <div class="home-cont">
        <!-- Bottone visibile SOLO su schermi piccoli e medi: apre la sidebar-->
        <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">
            <h4><i class="fas fa-angle-right"></i> Categorie</h4>
        </button>

        <!-- Overlay sidebar per schermi medi e piccoli -->
        <nav id="mobileSidebar" class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-hide-large"
             style="display:none; background:#FCD5CE; width:200px; position:fixed; top:93px; bottom:0;
             height:calc(100vh - 93px); overflow-y:auto; z-index:2000;">
            <button onclick="w3_close()" class="w3-bar-item w3-button">
                <i class="far fa-window-close"></i><b>Chiudi</b>
            </button>
            {% for categoria in categorie %}
                <a href="{% url 'libri_categoria_detail' categoria.id %}"
                   class="w3-bar-item w3-button">{{ categoria.nome }}</a>
            {% endfor %}
        </nav>

        <script>
        function w3_open() {
          document.getElementById("mobileSidebar").style.display = "block";
        }
        function w3_close() {
          document.getElementById("mobileSidebar").style.display = "none";
        }
        </script>


        {% if interessi %}
            <h2>Ciao {{ user.username }}! <br>
                Ti consigliamo i libri che potrebbero piacerti e che forse ancora non hai letto</h2>
            {% for c in interessi %}
                <div class="w3-margin-top">
                    <h2><a href="{% url 'libri_categoria_detail' c.id %}" class="w3-text-blue">
                            {{ c.nome }}</a></h2>
                    <div class="w3-row-padding">
                        {% for libro in c.libri %}
                            <div class="card-container">
                                <!-- 3 card per riga su schermo l ed m e 1 per riga su schermo s -->
                                {% include "bookcard.html" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            {% if simili %}
                <h2><br>Abbiamo pensato che sarebbe bello fare rete!</h2>
                <h3>Ti suggeriamo gli utenti che pensiamo abbiano qualcosa in comune con te</h3>

                <div class="alert alert-info grande" style="max-width: 95%; margin: 35px auto;">
                    <strong>Come facciamo?</strong>
                    Usiamo un algoritmo che calcola un punteggio da 0 a 1 per dire quanto avete in comune
                    sulla base degli interessi che avete scelto :)
                    <br>Ti mostriamo solo quelli con un punteggio maggiore o uguale a 0.4
                </div>
                <div class="w3-row-padding">
                        {% for altro, score in simili %}
                            <div class="user-card-container">
                                <div class="w3-card-2 card-equal" style="text-align:center; width: 100%">
                                    <header class="w3-container"
                                            style="padding: 15px; display: flex; background: #FCD5CE">
                                        <img src="{{ altro.immagine_url }}" alt="Immagine profilo" class="avatar">
                                        <a href="{% url 'libreria:scambi_utente' pk=altro.pk %}">
                                            <h3 style="margin-left: 10px;"> {{ altro.username }}</h3>
                                        </a>
                                    </header>
                                    <div class="w3-container" style="padding: 15px;">
                                        <p class="grande">Affinità: {{ score|floatformat:2 }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>

            {% endif %}

        {% else %}
            {% if not user.isauthenticated %}
                    <div class="alert alert-info grande">
                        <strong>Ciao!</strong>
                        Quissù trovi un sacco di tasti che portano a delle pagine per cui è richiesto l'accesso :(
                        <br>Entra a far parte della community per poter personalizzare l'esperienza, scambiare libri e
                        condividere opinioni con altri lettori <3
                    </div>
            {% endif %}
            {% for categoria in categorie %}
                <div class="w3-margin-top">
                    <h2><a href="{% url 'libri_categoria_detail' categoria.id %}" class="w3-text-blue">
                            {{ categoria.nome }}</a></h2>
                    <div class="w3-row-padding">
                        {% for libro in categoria.libri %}
                            <div class="card-container">
                                <!-- 3 card per riga su schermo l ed m e 1 per riga su schermo s -->
                                {% include "bookcard.html" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if user.is_authenticated and "ok" in request.GET.login %}
        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title"><strong>Ciao {{ user.username }}</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="grande">Il login è andato a buon fine!</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $("#modal").modal('show');
            });
        </script>

    {% endif %}

{% endblock %}
