<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
     aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">

            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><strong>Ciao {{ user.username }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Chiudi">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="grande">Il login è andato a buon fine!</p>
            </div>

        </div>
    </div>
</div>
