{% extends "w3base.html" %}

{% block title %} Ricerca {%  endblock %}

{% block content %}
    <h1>Hai cercato "{{ query }}"</h1>

    <div class="container" style="padding: 1%">
        {% if libri or autori %}
            {% if autori %}
                <h2>Risultati in Autori</h2>
                <ul>
                    {% for autore in autori %}
                        <h3><a href="{% url 'libreria:autore_detail' autore.pk %}">
                            {{ autore.nome }}</a>{% if not forloop.last %},<br> {% endif %}
                        </h3>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if libri %}
                <h2>Risultati in Libri</h2>
                <div class="w3-row-padding">
                    {% for libro in libri %}
                        <div class="card-container">
                            {% include "bookcard.html" %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% else %}
            <p>Nessun risultato trovato.</p>
        {% endif %}
    </div>



{% endblock %}