{% extends "w3base.html" %}
{% load static %}

{% block title %} {{ object.titolo }} {% endblock %}

{% block content %}
    <h2>{{ object.titolo }}</h2>

    {% for autore in libro.autori.all %}
        <h4>Scritto da
            <a href="{% url 'libreria:autore_detail' autore.pk %}">
                {{ autore.nome }}</a>{% if not forloop.last %}, {% endif %}
        </h4>
    {% endfor %}

    <div class="star-rating grande" data-rating="{{ libro.mediavoti|floatformat:1 }}">
        {% for i in "12345" %}
            <span class="star">★</span>
        {% endfor %}

        <a href="#rece">({{ libro.numerovoti }} recensioni)</a>
         - <i class="fas fa-pen"></i>
        <a href="{% url 'libreria:nuova_recensione' libro.pk %}">Lascia la tua recensione</a>
    </div>
    <script src="{% static 'js/star_script.js' %}"></script>

    <!-- Link per modificare la lista desideri -->
    <a href="{% url 'libreria:modifica_ld' pk=object.pk %}" style="color:black;">
      {% if in_lista_desideri %}
          <h4><i class="fas fa-heart" style="padding: 8px"></i>Libro presente nella tua lista desideri</h4>
      {% else %}
          <h4><i class="far fa-heart" style="padding: 8px; color:black"></i>Aggiungilo alla tua lista desideri</h4>
      {% endif %}
    </a>

    <!-- Link per modificare la lista di libri da scambiare -->
    <a href="{% url 'libreria:modifica_ls' pk=object.pk %}" style="color:black;">
      {% if in_lista_scambio %}
          <h4><i class="fas fa-handshake" style="padding: 3px"></i>
              Questo è un libro che vuoi scambiare! Clicca se hai cambiato idea.
          </h4>
      {% else %}
          <h4><i class="far fa-handshake" style="padding: 3px; color:black"></i>
              Aggiungilo alla lista di libri da scambiare
          </h4>
      {% endif %}
    </a>

    <!-- Gestione dei modal che si aprono alla modifica di lista desideri o scambio -->
    {% if messages %}
      {% for message in messages %}
        {% if "ld" in message.tags %}
          <div id="msg-ld-modal" class="w3-modal" style="display:block;">
            <div class="w3-modal-content w3-animate-top w3-card-4">
              <header class="w3-container" style="background: #8DC8D8; padding:3%">
                <span onclick="document.getElementById('msg-ld-modal').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2>Notifica</h2>
              </header>
              <div class="w3-container grande" style="padding: 3%">
                <p>{{ message }}</p>
                <div class="w3-container" style="margin-top: 15px;">
                  <a href="{% url 'libreria:lista_desideri' %}">
                    <button class="w3-button w3-round-large w3-right" style="background: #DCEEF3;">
                      Vai alla lista desideri
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% elif "ls" in message.tags %}
          <div id="msg-ls-modal" class="w3-modal" style="display:block;">
            <div class="w3-modal-content w3-animate-top w3-card-4">
              <header class="w3-container" style="background: #8DC8D8; padding:3%">
                <span onclick="document.getElementById('msg-ls-modal').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2>Notifica</h2>
              </header>
              <div class="w3-container grande" style="padding: 3%">
                <p>{{ message }}</p>
                <div class="w3-container" style="margin-top: 15px;">
                  <a href="{% url 'libreria:lista_scambio' %}">
                    <button class="w3-button w3-round-large w3-right" style="background: #DCEEF3;">
                      Vai alla lista di scambio
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <br>
    <div class="w3-bar" style="background: #FEC5BB">
        <div class="w3-bar-item"><h4>La trama</h4></div>
    </div>
    <div style="padding: 3%">
        <p class="grande" style="text-align: justify;">{{ libro.trama }}</p>
    </div>

    <div class="w3-bar" style="background-color:#FEC5BB">
        <div class="w3-bar-item" id="rece"><h4>Le Recensioni</h4></div>
    </div>
    <div style="padding: 3%">
        <h2 style="text-align: center">Valutazione media:
            <strong>{{ libro.mediavoti|floatformat:2 }}/5</strong> in {{ libro.numerovoti }} recensioni
        </h2>
        {% if recensioni %}
            {% for recensione in recensioni %}
                <br>
                <div class="w3-card-2 card-equal">
                    <header class="w3-container" style="padding: 15px; display: flex; background: #C2E2EA">

                        <img src="{{ recensione.nomeutente.immagine_url }}"
                             alt="Immagine profilo" class="avatar">

                        <h3 style="margin-left: 10px;">
                            {{ recensione.nomeutente.username }},
                            {{ recensione.data_aggiunta|date:"d/m/Y" }}
                        </h3>
                    </header>
                    <div class="w3-container" style="padding: 15px;">
                        <div class="star-rating" data-rating="{{ recensione.voto|floatformat:1 }}">
                            <strong class="grande">Valutazione: </strong>
                            {% for i in "12345" %}
                                <span class="star">★</span>
                            {% endfor %}
                        </div>
                        <script src="{% static 'js/star_script.js' %}"></script>
                        <hr>
                        {{ recensione.commento }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="grande">Ancora nessun commento per questo libro.</div>
        {% endif %}
    </div>

{% endblock %}
