{% extends "w3base.html" %}
{% load static %}

{% block title %} {{ object.titolo }} {% endblock %}

{% block content %}
    <h2>{{ object.titolo }}</h2>
    <h4>Scritto da
        {% for autore in libro.autori.all %}
            <a href="{% url 'libreria:autore_detail' autore.pk %}">
                {{ autore.nome }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h4>

    <div class="star-rating grande" data-rating="{{ libro.mediavoti|floatformat:1 }}">
        {% for i in "12345" %}
            <span class="star">★</span>
        {% endfor %}

        <a href="#rece">({{ libro.numerovoti }} recensioni)</a>  - <i class="fas fa-pen"></i>
        <a href="{% url 'libreria:nuova_recensione' libro.pk %}">Lascia la tua recensione</a>
    </div>
    <script src="{% static 'js/star_script.js' %}"></script>

    <!-- Link per modificare la lista desideri -->
    <a href="{% url 'libreria:modifica_ld' pk=object.pk %}" style="color:black;">
        {% if in_lista_desideri %}
            <h4><i class="fas fa-heart" style="padding: 8px"></i>Libro presente nella tua lista desideri</h4>
        {% else %}
            <h4><i class="far fa-heart" style="padding: 8px; color:black"></i>Aggiungilo alla tua lista desideri</h4>
        {% endif %}
    </a>

    <!-- Link per modificare la lista di libri da scambiare -->
    <a href="{% url 'libreria:modifica_ls' pk=object.pk %}" style="color:black;">
        {% if in_lista_scambio %}
            <h4><i class="fas fa-handshake" style="padding: 3px"></i>
                Questo è un libro che vuoi scambiare! Clicca se hai cambiato idea.
            </h4>
        {% else %}
            <h4><i class="far fa-handshake" style="padding: 3px; color:black"></i>
                Aggiungilo alla lista di libri da scambiare
            </h4>
        {% endif %}
    </a>

    <!-- Link per cercare il libro per lo scambio -->
    <a href="{% url 'libreria:scambio_list' pk=object.pk %}" style="color:black;">
        <h4><i class="fas fa-search-location" style="padding: 4px"></i>
            Cerca le disponibilità allo scambio per questo libro
        </h4>
    </a>

    <br>
    <div class="w3-bar" style="background: #FEC5BB">
        <div class="w3-bar-item"><h4>La trama</h4></div>
    </div>
    <div style="padding: 3%">
        <p class="grande" style="text-align: justify;">{{ libro.trama }}</p>
    </div>

    <div class="w3-bar" style="background-color:#FEC5BB">
        <div class="w3-bar-item" id="rece"><h4>Le Recensioni</h4></div>
    </div>
    <div style="padding: 3%">
        <h2 style="text-align: center">Valutazione media:
            <strong>{{ libro.mediavoti|floatformat:2 }}/5</strong> in {{ libro.numerovoti }} recensioni
        </h2>
        {% if recensioni %}
            {% for recensione in recensioni %}
                <br>
                <div class="w3-card-2 card-equal">
                    <header class="w3-container" style="padding: 15px; display: flex; background: #C2E2EA">

                        <img src="{{ recensione.nomeutente.immagine_url }}"
                             alt="Immagine profilo" class="avatar">

                        <h3 style="margin-left: 10px;">
                            {{ recensione.nomeutente.username }},
                            {{ recensione.data_aggiunta|date:"d/m/Y" }}
                        </h3>
                    </header>
                    <div class="w3-container" style="padding: 15px;">
                        <div class="star-rating" data-rating="{{ recensione.voto|floatformat:1 }}">
                            <strong class="grande">Valutazione: </strong>
                            {% for i in "12345" %}
                                <span class="star">★</span>
                            {% endfor %}
                        </div>
                        <script src="{% static 'js/star_script.js' %}"></script>
                        <hr>
                        {{ recensione.commento }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="grande">Ancora nessun commento per questo libro.</div>
        {% endif %}
    </div>

{% endblock %}
