<div class="w3-card-2 card-equal" style="text-align:center; width:100%">
    <header class="w3-container" style="padding: 15px; display: flex; background: #FCD5CE">
        <img src="{{ item.nomeutente.immagine_url }}" alt="Immagine profilo" class="avatar">
        <a href="{% url 'libreria:scambi_utente' pk=item.nomeutente.pk %}">
            <h3 style="margin-left: 10px;"> {{ item.nomeutente.username }}</h3>
        </a>
    </header>
    <div class="w3-container" style="padding: 15px;">
        {% if item.nomeutente.inprovincia %}
            Scambia a {{ item.nomeutente.comune }} e nella provincia ({{ item.nomeutente.comune.provincia }})<br>
        {% else %}
            Scambia solo nel comune di {{ item.nomeutente.comune }} ({{ item.nomeutente.comune.provincia }})
        {% endif %}
    </div>
</div>
