{% extends "w3base.html" %}
{% load static %}

{% block title %} {{ "La tua area personale" }} {% endblock %}

{% block content %}
    {% include "modal.html" %}

    <h1>I tuoi dati - {{ utente.username }}</h1>
    <div class="w3-container w3-padding-16 grande">
        {% if utente.email %}
            <p><strong>Email: </strong> {{ utente.email }}</p>
        {% else %}
            <p><strong>Email: </strong>  --- </p>
        {% endif %}

        <p><strong>La tua immagine profilo: </strong></p>
        {% if utente.immagine %}
            <img src="{{ utente.immagine_url }}" alt="Immagine profilo" style="max-width:100px;">
        {% else %}
            <img src="{% static 'img/iconadefault.jpg' %}" alt="Immagine profilo" style="max-width: 100px;">
        {% endif %}

        <br><br>
        <div class="alert alert-info">
            <strong>Info!</strong>
            I prossimi campi sono necessari se vuoi che altri utenti trovino i tuoi libri disponibili per lo scambio.
        </div>
        {% if utente.comune %}
            <p><strong>Comune: </strong> {{ utente.comune }}</p>
        {% else %}
            <p><strong>Comune: </strong>  --- </p>
        {% endif %}

        {% if utente.inprovincia == True %}
            <p><strong>Scambio in provincia: </strong>  Sì </p>
        {% else %}
            <p><strong>Scambio in provincia: </strong>  No </p>
        {% endif %}

        <p><strong>I tuoi link: <br></strong>
            {% for l in utente.links.all %}
                {{ l.nome }}: {{ l.link_social }}{% if not forloop.last %},<br> {% endif %}
            {% empty %}
                ---
            {% endfor %}
        </p>
    </div>

    <h1>I tuoi interessi:</h1>
    <div class="w3-container w3-padding-16 grande">
        {% for tag in utente.tags.all %}
            {{ tag.nome }}{% if not forloop.last %},  {% endif %}
        {% endfor %}
    </div>

    <div class="w3-center" style="padding: 3%;">
        <a href="{% url 'utente_update' %}" class="btn-default w3-round-medium w3-border w3-border-red"
           style="font-size:1.3em; padding:20px 30px; background: #FEC5BB; color:black">Modifica profilo</a>
    </div>
{% endblock %}
