{% extends "w3base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna profilo{% endblock %}

{% block content %}
    <h1>Aggiorna profilo</h1>
    <br>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="w3-container" style="padding: 2%">
            <p style="font-size: 1.5em">Dati personali</p>
            {{ form.username|as_crispy_field }}
            {{ form.immagine|as_crispy_field }}<br>


            <p style="font-size: 1.5em">Cosa ti interessa</p>
            <div class="tags-col">
                {{ form.tags|as_crispy_field }}
            </div>
            <br>

            <p style="font-size: 1.5em; max-width: 95%">I seguenti campi non sono obbligatori.<br>
                Però sono necessari se vuoi che altri utenti trovino i tuoi libri disponibili allo scambio!</p>
            <div style="padding: 1%">{{ form.comune|as_crispy_field }}</div>
            <div style="padding: 1%">{{ form.inprovincia|as_crispy_field }}</div>

            <p style="font-size: 1.5em; max-width: 95%">
                I link permettono agli altri utenti di contattarti quando vogliono scambiare dei libri con te</p>
            {{ formset.management_form }}
            <div id="formset-container">
                {% for form in formset %}
                    <div class="link-form" style="margin-bottom: 10px; border: 1px solid #ccc; padding: 10px;">
                        {% for field in form %}
                            {{ field|as_crispy_field }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <button type="button" id="add-form" class="btn btn-secondary"
                    style="background: #A7D5E1; color: black; font-size: 1.2em">+ Aggiungi link</button>
            <script src="{% static 'js/aggiungi_link.js' %}"></script>

        </div>

        <div class="w3-row-padding w3-padding-24">
            <a href="{% url 'libreria:utente_detail' %}"
               class="btn-default w3-round-medium  w3-border w3-border-red"
               style="font-size:1.3em; padding:20px 30px; width: 140px; text-align: center;
               background: #FEC5BB; color:black">Annulla</a>

            <button type="submit" class="btn-default w3-round-medium  w3-border w3-border-blue-grey"
                    style="font-size:1.3em; padding:20px 30px; width: 140px; text-align: center;
                    background: #A7D5E1; color:black">Salva</button>
        </div>

    </form>

{% endblock %}
